<!DOCTYPE html>
<html>
<head>
	<title>Second</title>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/Second.css">
</head>
<body>
<div id="box">
	<header>
		<div id="back">
			<a href="/"><img src="photo/arrow.png"></a>
		</div>
		<h2>Add Assignment</h2>
	</header>
	<div id="header">
		<form action="#" method="post">
			<div class="form_obj">
				<span>Name:</span>
				<div>
					<input name="name" id="name" required="required" >
				</div>
			</div>
			<div class="form_obj">
				<span>Class:</span>
				<div>
					<input name="classN" id="classN">
				</div>
			</div>
			<div class="form_obj">
				<span>Due Date:</span>
				<div>
					<input type="date" name="date" id="date">
				</div>
			</div>
			<div class="form_obj time">
				<span>Time Needed:</span>
				<div id="time">
					<div class="item">
						<input type="number" min="0">
						Hour
					</div>
					<div class="item">
						<input type="number" min="0">
						Minute
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="footer" class="highColor">
		<h2 onclick="postData()" style="color: #ffffff">Add</h2>
	</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/json.js"></script>
<script>
		$(function(){
			 	var date_now = new Date();
				//得到当前年份
				var year = date_now.getFullYear();
				//得到当前月份
				//注：
				//  1：js中获取Date中的month时，会比当前月份少一个月，所以这里需要先加一
				//  2: 判断当前月份是否小于10，如果小于，那么就在月份的前面加一个 '0' ， 如果大于，就显示当前月份
				var month = date_now.getMonth()+1 < 10 ? "0"+(date_now.getMonth()+1) : (date_now.getMonth()+1);
				//得到当前日子（多少号）
				var date = date_now.getDate() < 10 ? "0"+date_now.getDate() : date_now.getDate();
				//设置input标签的max属性
				$("#date").attr("min",year+"-"+month+"-"+date);
				window.WaringDatePopup = new $.Popup({ type: 2,content: 'Can not select th data before today!'})
				$("#date").on("input",(e)=>{

						var iptVal = new Date(e.target.value)
						var today = new Date(year+"-"+month+"-"+date)

						if(today.getTime()>iptVal.getTime()) {
							WaringDatePopup.Show()
							WaringDatePopup._opts.yescb = function(e) {
							$("#date").val("")
							e.Close()
							}
						}
				})

		})
    function postData() {
        var name=$("#name").val();
        var classN=$("#classN").val();
        var date=$("#date").val();

        var hour = $($("#time input")[0]).val().trim() || 0;
        var minute = $($("#time input")[1]).val().trim() || 0;
				var time = parseInt(hour)  * 60 + parseInt(minute)
        if (name&&classN&&date&&time){
            var obj={
                "name": name,
                "classN":classN,
                "date": date,
                "time": time
            }
            $.post("/api/AddAssignment",obj,function(data) {
                alert('ADD！');
                window.location.href='/'
            })
		}
		else {
            alert('CAN NOT LEAVE BLANK！')
		}
    }

</script>
</body>
</html>
