@font-face {
  font-family: 'Ubuntu-Blod';
  src: url('../fonts/Ubuntu-B.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

/* Page_A */
.page_a  {
	display: flex;
	width: 90%;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	box-shadow: 0 4px 2px #ccc ;
}
.page_a.active {
	background-color: #59dfd5;
}
.page_a.active .finish .img._delete {
	visibility: visible;
}
.page_a.active p.highColor {
  color: #fff;
}
.page_a > .pic {
	display: flex;
	padding: 0 20px;
	margin-left: -10px;
	justify-content: center;
	align-items: center;
}
.page_a > .pic img {
	display: block;
	width: 40px;
	/* height: 60px; */
}
.page_a > .assignment {
	flex: 1
}
.page_a  p {
  font-family: 'Roboto-Regular';
	font-size: 15px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 25px;
}

.page_a  p.highColor{
	color: #000;
	font-size: 18px;
	font-weight: 700;
}
.page_a  .finish {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.page_a  .finish .img {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.page_a  .finish .img img {
	width: 36px;
	height: 36px;
}
.page_a  .finish .img._delete {
	visibility: hidden;
}
.page_a  .finish .img._delete img{
	/* margin-top: 10px; */
	width: 30px;
	height: 30px;
	padding-bottom: 10px;
	/* visibility: hidden; */
}
/* Page_A */
